body{
    font-family: Lato;
    font-size:18px;
    background: url(https://i.imgur.com/xsIJz9A.jpg);   
    animation: appear 2s ease-in-out;
  }
  
  h1 {
    font-family: Supermercado One;
    font-size: 45px;
    color: #5d4037;
  }
  
  nav {
    font-family: sans-serif; font-size: 10px;
  }
  
  #main {
    width: 900px; margin: 10px auto;
  }
  
  #menu {
    columns: 400px 2; column-gap: 100px;
    column-rule: 2px dashed rosybrown;
    animation: appear 5s ease-in-out;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  h2 {
    margin: 0;
    color:#6d4c41;
  }
  
  dd {
    margin: 0 0 12px 0; display: flex;
  }
  
  .details {
    order: 1;
  }
  
  .price {
    order: 2; padding-left: 10px;
    color: firebrick;
    font-size: large;
  }
  
  address {
    border: 2px dashed rosybrown;
    padding: 10px;
    animation: appear 5s ease-in-out;
  }
  
  dt {
    font-weight: bold;
    font-size: 20px;
  }
  
  audio {
    opacity:0;
  }

  @keyframes appear {
    0% {
      opacity:0;
    transform: translate(0,-30px);
    }
    100% {
      opacity:1;
      transform:translate(0,0px);
    }
  }