body {
    font-family: Oswald;
    font-size: 14px;
  }
  
  nav {
    font-family: sans-serif;     
    font-size: 10px;  
  }
  
  #main {
    width: 900px; 
    margin: 10px auto;
  }
  
  h1 {
    font-family: 'Bungee Inline';
    font-size: 46px;
    font-weight: lighter;
    animation: appear 2s ease-in-out;
  }
  
  #menu {
    columns: 420px 2; 
    column-gap: 60px;
  }
  
  section {
    margin-bottom: 20px;         
    padding: 10px;
    animation: appear ease-in-out;
    animation-duration: 5s;
  }
  
  section#starters, section#desserts{
    border: 2px;
    border-style: solid;
  }
  
  h2 {
    margin-top: 0;
    text-transform: uppercase;
  }
  
  dt {
    display: inline;
    font-weight: bold;
    font-size: 16px;
  }
  
  
  dd {
    display: inline; 
    margin: 0;
  }
  
  dd::before {
    content: ", "
  }
  
  dd::after {
    content: " "; 
    display: block; 
    clear: both; 
    margin-bottom: 15px;
  }
  
  .price {
    float: right; 
    padding: 0 0 35px 20px;
    animation: appear 8s ease-in-out;
    
  }
  
  address{
    text-align: right;
    animation: appear ease-in-out;
    animation-duration: 8s;
  }

  audio {
    opacity:0;
  }
  
  
  @keyframes appear {
    0% {
      opacity:0;
    transform: translate(0,-30px);
    }
    100% {
      opacity:1;
      transform:translate(0,0px);
    }
  }
  
  